{% load staticfiles %}
<!doctype html>
<html>

    <head>
        <title>
            {% block title %}
                Thingder, l'application de rencontre pour objets
            {% endblock title %}
        </title>

        {% block header %}{% endblock header %}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>

    <body>
        <header>
            <h1>
                <b>thingder</b>
            </h1>
            <nav>
                <a href="{% url 'home' %}">Accueil</a>
                <a href="{% url 'about' %}">À propos</a>
                <a href="{% url 'contact' %}">Contact</a>
            </nav>
            <br>
        </header>
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock footer %}
    </body>

</html>
