{% extends 'base.html' %}
{% block title %}
    Accueil -
    {{ block.super }}
{% endblock title %}

{% block content %}
<h1>Qu'est ce que <b>thingder</b>?</h1>
    <h2>
        <b>
            <i>Le Parti pris des choses, de
            </i>
        </b>
        <a href="https://en.wikipedia.org/wiki/Francis_Ponge" title="Francis Ponge">Francis Ponge</a>
    </h2>
    <p>
        <strong>
            <i>Le Parti pris des choses</i>
        </strong>
        est un recueil de poèmes en prose écrit par
        <a href="https://en.wikipedia.org/wiki/Francis_Ponge" title="Francis Ponge">Francis Ponge</a>
        et paru en 1942. Dans
        <strong>
            <i>Le Parti pris des choses</i>
        </strong>, Ponge décrit des « choses », des éléments du quotidien, délibérément choisis pour leur apparente banalité. L'objectif de ce recueil est de rendre compte des objets de la manière la plus précise possible en exprimant les qualités physiques
        du mot. Plus simplement, il veut rendre compte de la beauté des objets du quotidien. Il incarne aussi toute la méfiance de son époque.
    </p>
    <h2>Prendre le parti des choses</h2>
    <p>
        À l'aide d'une multiplicité d'images (métaphores, comparaisons), le poète tente de restituer aux objets leur entière originalité. En effet, certaines « choses » ne sont plus perçues qu'à travers le filtre des lieux communs : par exemple la fleur
        (surtout la rose), qui se limite bien souvent, en poésie, à une évocation mièvre. C'est par un effet de surprise que le poète entend renouveler notre perception du monde. Le papillon se fait ainsi lampiste, la fleur est « une tasse mal lavée » (ou
        une lampe !), loin des stéréotypes usés. Mais ce n'est pas non plus chez Ponge un désir de brider l'expression poétique : le papillon est également « un minuscule voilier des airs malmené par le vent » ou même « une allumette volante ». Aussi le
        poète use-t-il de tous les moyens à sa disposition pour briser le moule, et créer ses propres objets poétiques : poésie du cageot, paradoxale ; poésie des objets de consommation : le pain ; poésie de la nature enfin, dans ce qu'elle a de plus
        concret. Ce regard sur les objets prend leur parti, c'est-à-dire qu'il leur rend justice en ne les enfermant pas dans des stéréotypes.
    </p>

    <p>Nombre actuel de visiteurs du site:
        {{ nbVisiteurs }}. <br>
        {% if nbVisiteurs < 100 %}
            Ce site n'est pas très connu.
        {% else %}
            {% if nbVisiteurs < 1000 %}
                Ce site est en train de gagner en popularité!
            {% else %}
                {% if nbVisiteurs < 10000 %}
                    Ce site est devenu célèbre!
                {% endif %}
            {% endif %}
        {% endif %}
    </p>

    <center>
        <img src="../static/images/theiere.png" alt="La théière">
    </center>

{% endblock content %}
